/* Estilo para a barra superior */
.barrafixamarc {
    width: 100%;
    height: 50px;
    background-color: #1E2672;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

/* Estilo para a barra lateral */
.sidebarmarca {
    width: 200px;
    height: 100vh;
    background-color: #f7f7f7;
    color: white;
    position: fixed;
    top: 50px; /* Ajustar conforme a altura da barra superior */
    left: 0;
    z-index: 1000;
    padding: 20px;
    box-sizing: border-box;
}

/* Estilo para o container do grid */
.grid-container {
    margin-top: 50px; /* Ajustar conforme a altura da barra superior */
    margin-left: 200px; /* Ajustar conforme a largura da barra lateral */
    padding: 20px;
    box-sizing: border-box;
}

/* Estilo para a tabela do grid */
.grid-table {
    width: 100%;
    border-collapse: collapse;
}

.grid-table th, .grid-table td {
    border-bottom: 1px solid transparent; /* Remove horizontal lines */
    padding: 8px;
    text-align: left;
}

.grid-table th {
    background-color: #f2f2f2;
}

/* Ajuste para as colunas */
.grid-table th.colgrid:first-child, .grid-table td.infogrid:first-child {
    width: 100px; /* Ajustar conforme necessário */
}

.grid-table th.colgrid:last-child, .grid-table td.infogrid:last-child {
    width: calc(100% - 0px); /* Ajustar conforme necessário */
}

/* Estilo para as linhas verticais */
.grid-table th, .grid-table td {
    border-right: 1px solid #eee; /* Linha clara entre colunas */
}

.grid-table th:last-child, .grid-table td:last-child {
    border-right: none; /* Remove a última linha vertical */
}

/* Estilo para a coluna com ícone */
.colgrid {
    background-color: #ddd;
    padding: 5px;
    display: flex;
    align-items: center;
}

.colgrid svg {
    margin-right: 5px; /* Espaço entre o ícone e o texto */
}

.infogrid {
    padding: 10px;
}
