@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

html, body {
  overflow: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
}

body .containercadastro{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.containercadastro {
  width: 100%;
  height: 100vh; /* Usando 100vh para ocupar toda a altura da tela */
  display: flex;
  flex-direction: column;
}

.boxazul {
  width: 100%;
  min-height: 30vh; 
  background-color: #1E2672; 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.textosbox {
  text-align: center;
}

.bemvindo {
  margin-bottom: 5%;
  font-family: 'Inter', sans-serif;
  font-weight: 800;
  color: white;
  font-size: 30px;
}

.bemvindorodape {
  color: white;
  font-size: 15px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
}

.formulariocadastro {
  width: 100%;
  height: calc(100vh - 30vh); /* Altura disponível após o box azul */
  background-color: white;
  padding: 20px;
  overflow-y: auto; /* Adiciona scroll vertical quando necessário */
  box-sizing: border-box;
}

.compontitlecads {
  text-align: center;
  margin-bottom: 20px;
}

.titlecadastro {
  font-size: 32px;
  color: #1E2672;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
}

.subtitleform {
  margin-top: 0;
  margin-bottom: 10px;
  font-family: 'Inter', sans-serif;
  font-weight: 1000;
  font-size: 15px;
  color: black;
}

.linhainputs {
  display: flex;
  flex-wrap: wrap; /* Permite quebra de linha para inputs */
}

.campo {
  flex: 1 1 30%; /* Flex-grow, flex-shrink, flex-basis */
  margin-bottom: 10px;
  padding-right: 10px; /* Espaço entre os campos */
}

/* */



label {
  color: black;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  display: block;
  margin-bottom: 5px;
  font-size: 13px;
}

.campo input[type="text"],
.campo input[type="file"] {
  color: black;
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}




.btnEnviar {
  background-color: #1E2672;
  color: white;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 14px;
  padding: 10px 20px;
  margin-top: 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btnEnviar:hover {
  background-color: #3946b1;
}

@media (min-width: 600px) {
  .containercadastro {
    flex-direction: row;
  }

  .boxazul {
    width: 40%;
    height: 100vh;
  }

  .formulariocadastro {
    width: 60%;
    height: 100vh;
  }
}
