@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body{
  height: 100%;
}

.containercadastro {
  width: 100%;
  height: 100vh; /* Usando 100vh para ocupar toda a altura da tela */
  display: flex;
}

.boxazul {
  width: 40%;
  height: 100%; 
  background-color: #1E2672; 
}

.compontitlecads{
  align-items: center;
  margin-top: 0px;
}

.titlecadastro{

  font-size: 50px;
  color:#1E2672 ;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 10px;
 justify-content: space-around;
  display: flex;


}

.bemvindo {
  font-family: 'Inter', sans-serif;
  font-weight: 800;
  color: white;
  font-size: 30px;
}

.bemvindorodape {
  color: white;
  font-size: 15px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
}

.textosbox {
  margin-top: 30%;
  display: grid;
  justify-items: center;
  align-items: center;
}
.linhainputs{
  display: flex;
}

.formulariocadastro {
  width: 60%;
  height: 100%; /* Ocupa toda a altura da tela */
  background-color: white;
  padding: 20px; /* Adiciona um espaçamento interno */
}

.dadospessoais,
.dadosendereco,
.dadoscomplementares,
.documentosnecessarios {

  margin-left: 20px;
  margin-bottom: 0px; 
}

.campo {
  margin-bottom: 10px;
}

label {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  margin-left: 20px;
  display: block;
  margin-bottom: 5px;
  font-size: 13px;
}

.subtitleform{
  margin-top: 0px;
  margin-bottom: 10px;
  font-family: 'Inter', sans-serif;
  font-weight: 1000;
  font-size: 15px;
  color: black;
}

input[type="text"] {
  margin-left: 20px;
  height: 60%;
  width: calc(100% - 20px); 
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* Garante que o padding não aumente o tamanho total */
}

